.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-image: linear-gradient(to right, #cc6561, white 20%);
    border: 1px solid #c00;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 8px 10px 2px #516166;
}

.title {
    color: #c00;
    font-size: 2rem;
    margin: .5rem 0;
}


.pubDate {
    font-weight: bold;
    font-size: smaller;
}

.articleContext{
    margin-bottom: 2rem;
}





